
        
          
  <div class="=row"></div>
  
<section id="services" class="service-item">

  <div class="container">
         <div class="center wow fadeInDown">
            
             <br/>

             <h2>Our Goals</h2>
             <p class="lead">
               
            </p>
         </div>

         <div class="row">
                <div class="col-sm-6">
                        <div class="media services-wrap wow fadeInDown">
                           
                            <div class="pull-left">
                                <img class="img-responsive" width="250" src="/own_style/images/go.png">
                            </div>
                            <div class="media-body">
                                 <font color="blue">
                                <h2 class="media-heading">Foals</h2>
                                <ul>
                                 <li>Train Students</li>
                                 <li>Prepare the student</li>
                                 <li>Practical Experience</li>                          
                                 <li>High Marks in University</li>                          
                                 <li>Students Train other students</li>                          
                                 <li>Increase The Knowledge</li>                          
                               </ul>
                                 
                           </font>
                                     </div>
                        </div>
                    </div>


             <div class="col-sm-6">
                 <div class="media services-wrap wow fadeInDown">
                    
                     <div class="pull-left">
                         <img class="img-responsive" width="250" src="/own_style/images/go.png">
                     </div>
                     <div class="media-body">
                          <font color="blue">
                         <h2 class="media-heading">Foals</h2>
                         <ul>
                          <li>Resolve Problems</li>
                          <li>Create Ideas</li>
                          <li>Exchange Information</li>                          
                          <li>Exchange Experiences</li>                          
                          <li>Explorer The Knowledge</li>                          
                          <li>Increase The all Knowledge</li>                          
                        </ul>
                          
                    </font>
                              </div>
                 </div>
             </div>
                                          
         </div><!--/.row-->
     </div><!--/.container-->
 </section><!--/#services-->

